version: '3.8'

services:
  aicareer-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aicareer-app
    environment:
      # Настройки базы данных
      DATABASE_URL: jdbc:postgresql://host.docker.internal:5432/alcareer_db
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: KRMSnoQRnx
      # Настройки приложения
      APP_LOGGING_LEVEL: INFO
      APP_NAME: ALCareer
      APP_VERSION: 1.0.0
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
      - ./config:/app/config
    stdin_open: true
    tty: true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped