services:
  alcareer-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: alcareer-app
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/alcareer_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: KRMSnoQRnx
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: alcareer_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: KRMSnoQRnx
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: