version: '3.8'

services:
  db:
    image: postgres:16
    container_name: aicareer-postgres
    environment:
      POSTGRES_DB: aicareer_db
      POSTGRES_USER: aicareer_user
      POSTGRES_PASSWORD: secure_password_123
    ports:
      - "5432:5432"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d  #  здесь будут наши .sql-файлы
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aicareer_user -d aicareer_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
